.hidden {
  display: none;
}

#CommandPalette {
  flex-grow: 1;
  -unity-background-scale-mode: scale-to-fit;
  -unity-background-image-tint-color: transparent;
}
#CommandPalette #Background {
  position: absolute;
  top: -21px;
  bottom: 21px;
  left: 0;
  right: 0;
}
#CommandPalette Scroller RepeatButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#CommandPalette Scroller Slider #unity-dragger {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.1);
}
#CommandPalette Scroller Slider #unity-dragger:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#CommandPalette Scroller Slider #unity-drag-container:active #unity-dragger {
  background-color: rgba(255, 255, 255, 0.2);
}
#CommandPalette #MainContainer {
  flex-grow: 1;
}
#CommandPalette #SearchField {
  margin: 0;
  padding: 0;
  height: 70px;
}
#CommandPalette #SearchField TextInput {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  border-width: 0;
}
#CommandPalette #SearchField TextInput:focus {
  border-color: rgba(255, 255, 255, 0.5);
}
#CommandPalette #SearchField #SearchPlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 17px;
  padding-right: 16px;
  font-size: 24px;
  -unity-text-align: middle-left;
  color: #b8b8b8;
}
#CommandPalette #NoResultsLabel {
  -unity-text-align: middle-center;
  font-size: 24px;
  flex-grow: 1;
  color: #ffffff;
}
#CommandPalette #ParametersContainer .parameter-title {
  border-bottom-width: 1px;
  padding-bottom: 4px;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
}
#CommandPalette #ParametersContainer .parameter-title .parameter-title-title-container {
  font-size: 20px;
}
#CommandPalette #ParametersContainer .parameter-title .result-entry-description {
  padding-top: 2px;
  font-size: 13px;
}
#CommandPalette #ParametersContainer .parameters-scroll-view .unity-base-field #unity-text-input, #CommandPalette #ParametersContainer .parameters-scroll-view .unity-base-field .unity-object-field__input {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding-left: 6px;
}
#CommandPalette #ParametersContainer .parameters-scroll-view .unity-base-field #unity-text-input ObjectFieldSelector, #CommandPalette #ParametersContainer .parameters-scroll-view .unity-base-field .unity-object-field__input ObjectFieldSelector {
  background-color: transparent;
}
#CommandPalette #ParametersContainer .parameters-scroll-view .unity-base-field Label {
  align-self: center;
}
#CommandPalette #ParametersContainer .parameters-scroll-view .parameter-field {
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
}
#CommandPalette #ParametersContainer .parameters-scroll-view .parameter-field > Label {
  min-width: 0;
  align-self: stretch;
  font-size: 14px;
  margin-bottom: 4px;
}
#CommandPalette #ParametersContainer .parameters-scroll-view .parameter-field > Label .parameter-field-description {
  font-size: 12px;
  align-self: flex-end;
  -unity-text-align: middle-left;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  margin-left: 128px;
}
#CommandPalette #ParametersContainer #ExecuteEntryWithParameters {
  margin: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.1);
}
#CommandPalette #ParametersContainer #ExecuteEntryWithParameters:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
#CommandPalette #ParametersContainer #ExecuteEntryWithParameters:focus {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: rgba(0, 140, 255, 0.5);
}

.result-entry {
  margin-left: 6px;
  margin-right: 6px;
  padding: 4px 24px;
  border-radius: 8px;
  justify-content: center;
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.15);
  flex-direction: row;
  align-items: center;
}
.result-entry.selected {
  background-color: rgba(255, 255, 255, 0.1);
}
.result-entry.selected .result-entry-suffix-icon {
  -unity-background-image-tint-color: rgba(255, 255, 255, 0.85);
}
.result-entry.selected .result-entry-icon {
  -unity-background-image-tint-color: rgba(255, 255, 255, 0.85);
}
.result-entry:hover {
  border-color: rgba(255, 255, 255, 0.1);
}
.result-entry .result-entry-suffix-icon {
  -unity-background-image-tint-color: rgba(255, 255, 255, 0.65);
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-right: -16px;
}
.result-entry .result-entry-icon {
  -unity-background-image-tint-color: rgba(255, 255, 255, 0.65);
  width: 32px;
  height: 32px;
  margin-left: -8px;
  margin-right: 16px;
}
.result-entry.has-description .result-entry-description {
  overflow: hidden;
}

.result-entry-main-container {
  flex-grow: 1;
}
.result-entry-main-container .result-entry-title-container {
  flex-direction: row-reverse;
  font-size: 16px;
}
.result-entry-main-container .result-entry-title-container .result-entry-short {
  -unity-font-style: bold;
}
.result-entry-main-container .result-entry-title-container .result-entry-display {
  overflow: hidden;
  flex-grow: 1;
}
.result-entry-main-container.has-description .result-entry-description {
  overflow: hidden;
}/*# sourceMappingURL=CommandPalette.uss.map */