.hidden {
    display: none;
}

#CommandPalette {
    flex-grow: 1;
    -unity-background-scale-mode: scale-to-fit;
    -unity-background-image-tint-color: transparent;

    #Background {
        position: absolute;
        top: -21px;
        bottom: 21px;
        left: 0;
        right: 0;
    }
    
    Scroller {
        RepeatButton:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        Slider {
            #unity-dragger {
                border-color: transparent;
                background-color: rgba(255, 255, 255, 0.1);
            }

            #unity-dragger:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
            #unity-drag-container:active {
                #unity-dragger {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }

    #SearchField {
        margin: 0;
        padding: 0;

        TextInput {
            padding-left: 16px;
            padding-right: 16px;
            font-size: 24px;
            background-color: rgba(0, 0, 0, 0.3);
            border-color: rgba(0, 0, 0, 0.25);

            &:focus {
                border-color: rgba(255, 255, 255, 0.5);
            }
        }

        #SearchPlaceholder {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            padding-left: 17px;
            padding-right: 16px;
            font-size: 24px;
            -unity-text-align: middle-left;
            color: #8e8e8e;
        }
    }

    #ParametersContainer {
        .parameter-title {
            border-bottom-width: 1px;
            padding-bottom: 4px;
            border-bottom-color: rgba(255, 255, 255, 0.5);
            justify-content: center;

            .parameter-title-title-container {
                font-size: 20px;
            }

            .result-entry-description {
                padding-top: 2px;
                font-size: 13px;
            }
        }

        .parameters-scroll-view {
            .unity-base-field {
                #unity-text-input, .unity-object-field__input {
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 8px;
                    padding-left: 6px;

                    & > * {
                        //margin-left: 4px;
                    }

                    ObjectFieldSelector {
                        background-color: transparent;
                    }
                }

                Label {
                    align-self: center;
                }
            }

            .parameter-field {
                flex-direction: column;
                flex-grow: 1;
                margin: 0;

                & > Label {
                    min-width: 0;
                    align-self: stretch;
                    font-size: 14px;
                    margin-bottom: 4px;

                    .parameter-field-description {
                        font-size: 12px;
                        align-self: flex-end;
                        -unity-text-align: middle-left;

                        overflow: hidden;
                        text-overflow: ellipsis;

                        margin: 0;
                        padding: 0;
                        margin-left: 128px;
                    }
                }
            }
        }

        #ExecuteEntryWithParameters {
            margin: 0;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.075);
            border-color: rgba(255, 255, 255, 0.1);

            &:hover {
                background-color: rgba(255, 255, 255, 0.15);
            }
            
            &:focus {
                background-color: rgba(255, 255, 255, 0.15);
                border-color: rgba(0, 140, 255, 0.5);
            }
        }
    }
}

.result-entry {
    margin-left: 6px;
    margin-right: 6px;
    padding: 4px 24px;

    border-radius: 8px;
    justify-content: center;
    border-width: 2px;
    background-color: rgba(0, 0, 0, 0.15);
    flex-direction: row;
    align-items: center;

    &.selected {
        background-color: rgba(255, 255, 255, 0.1);


        .result-entry-suffix-icon {
            -unity-background-image-tint-color: rgba(255, 255, 255, 0.85);
        }

        .result-entry-icon {
            -unity-background-image-tint-color: rgba(255, 255, 255, 0.85);
        }
    }

    &:hover {
        border-color: rgba(255, 255, 255, 0.1);
    }

    .result-entry-suffix-icon {
        -unity-background-image-tint-color: rgba(255, 255, 255, 0.65);
        width: 24px;
        height: 24px;
        margin-left: 16px;
        margin-right: -16px;
    }

    .result-entry-icon {
        -unity-background-image-tint-color: rgba(255, 255, 255, 0.65);
        width: 32px;
        height: 32px;
        margin-left: -8px;
        margin-right: 16px;
    }

    &.has-description {
        .result-entry-description {
            overflow: hidden;
        }
    }
}

.result-entry-main-container {
    flex-grow: 1;

    .result-entry-title-container {
        flex-direction: row-reverse;

        font-size: 16px;

        .result-entry-short {
            -unity-font-style: bold;
        }

        .result-entry-display {
            overflow: hidden;
            flex-grow: 1;
        }
    }

    &.has-description {
        .result-entry-description {
            overflow: hidden;
        }
    }
}